/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

body {
	padding: 50px;
}


.delitko {
	margin: 50px 0;
}



.tlacitko {
	display: inline-block;
	padding: 20px 30px;
	font-size: 24px;
	line-height: 1;
	background-color: #e74c3c;
	color: white;
	border-radius: 5px;
	text-decoration: none;
}


.ctverecek {
	width: 250px;
	height: 250px;
	background-color: rgb(46, 204, 113);
}


.kolecko {
	width: 250px;
	height: 250px;
	background-color: #3498db;;
}


/* ------------------------------------------ */

.kolecko {
	transition: 0.3s;
}

.kolecko:hover { 
	border-radius: 50%;
}

.ctverecek {
	transition: 0.3s;
}

.ctverecek:hover {
	background-color: rgb(231, 76, 60);
	width: 1000px;
	opacity: 0.5;
	height: 1000px;
}

.tlacitko {
	box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.5);
	transition: 0.2s;
}

.tlacitko:active {
	box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
	transform: translate(4px, 7px);
}